* {
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: #EFE6DD;
}

.profile {
    padding: 10px;
    margin: 10px;
    display: flex;
    background-color: white;
    flex-direction: column;
    align-content: stretch;
    justify-content: center;
    align-items: center;
}


.image {
    border-radius: 50%;
    width: 200px;
    height: 200px;

}

.profile-name {
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.profile-description {
    font-family: cursive;
}

.profile-links {
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: strech;
    justify-content: space-around;
    padding: 10px;
    margin: 10px;
}

.main {
    padding: 0px 50px;
    margin: 0px 50px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
}

.main-intro {
    background-color: white;
    border: 2px solid black;
    padding: 20px;
    margin: 20px;     
}

.main-feed {
    background-color: white;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
}

.feed {
    border: 2px solid black;
}

.left {
    width: 35%;
}

.right {
    width: 55%;
}

.footers {
    padding: 10px;
    margin: 10px;
    font-size: 6px;
}